.page-header{
	position: fixed;
	z-index: 1;
	top: 0;
    left: 0;
}
.added-time{
	font-size:10px;
	color:gray;
}
.filter .filter-name{
	border:none;
	text-align: center;	
}
.filter .filter-name h4{
	font-size: 30px;
}
.my-chekcbox{
	padding-top: 10px;
}
.btn-group>.btn.active,.form-control-feedback{
	z-index:0;
}
.form-control-height{
	height:34px;
}
.company-logo{
	position: absolute;
}
.company-logo a{
	color: #000;
    display: inline-flex;
}
.company-logo a:hover{
	text-decoration: none;
}
.primary-menu{
	float: right;
	width: calc(100% - 240px);
	margin-top: 10px;
}
.secondary-menu{
	position: relative;
    float: right;
    width: calc(100% - 140px);
}
.search-bar{
	width: calc(50% - 120px);
	margin-right: 40px;
}
.search-select{
	width: auto !important;
	padding: 0;
	border-left-width: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.my-profile{	
    padding-right: 20px;
    position: absolute;
    right: 30px;
}
.my-profile a,.mobile-my-profile a{
	color: #7f7f7f;
}
.my-profile a:hover,.mobile-my-profile a:hover{
	text-decoration: none;	
}
.main-content{
	padding-bottom: 25px;
}
.mobile-menu{
	visibility: hidden;
	overflow-x: hidden;
	position: fixed;
    top: 0;
    left: -82.7%;
    width: 82.7%;
    height: 100%;
    z-index: 20;
    box-shadow: 0 3px 35px 0 rgba(0,0,0,0.64);
    overflow-y: auto;
    background: #f3f3f3;
}
.menu-overlay{
	display: none;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    z-index: 15;
    background: #000;
}
.mobile-menu-header{
	width: 100%;
	height: 60px;
	background: #f3f3f3; 
}
.mobile-menu-header .company-logo{
	top: 5px;
    left: 30%;
}
.mobile-menu-header .company-logo h3{
	display: block;
}
.mobile-primary-menu,.mobile-secondary-menu{
	width: 100%;
	padding: 10px;
}
.mobile-primary-menu{	
	background: #fff;
}
.moobile-search-bar{
	width: calc(100% - 40px);
}
.mobile-my-profile{
	margin: 15px 0px;
}
.marg-bot{
	margin-bottom: 15px;
	z-index:0;
}
.minicart{
	position: fixed;
    top: 0;
    right: -100%;   
    height: 100%;
    z-index: 10;
    background: #f3f3f3;
}
.minicart-header,.minicart-mobile-header{
    overflow: hidden;
    background: #ebf322;
}
.minicart-title{
	float: left;
    position: relative;
    width: 150px;
    height: 120px;
    padding: 30px 25px 0px 0px;
    color: #000;
    font-weight: 500;
    text-align: center;
}
.minicart-title img,.minicart-totals-check img{
	width: 50px;
	height: 50px;
}
.minicart-header{
	height: 120px;
}
.minicart-mobile-header .minicart-title{
	height: 65px;
    padding: 15px 65px 0px 0px;
}
.minicart-mobile-header .minicart-title a{
	font-size: 20px;
	color: #000;
}
.minicart-content{
	position: relative;
    overflow: visible;
    overflow-y: auto;
}
.gallery_product .img-info button{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    color: #000;
    background: #f3f3f3f3;
    border: none;
}
.cols{
	width: 100%;
}
.comments, .cols .left-col,.cols .right-col{
	padding: 10px 15px;
}
.comments .comment-send .form-group textarea{
	width: 100%;
	max-width: 100%;
}
.comments .comment-send .form-group button{
	width: 100%;
	margin-top: 5px;
}
.comments .btn-view-comments{
	width: 100%;
	height: 50px;
}
.comments .btn-view-comments button{
	background: #ddd;
	width: 100%;
	height: 100%;
	border:none;
	border-radius: 10px;
	transition-property: background;
	transition-duration: .3s;
}

.comments .comment{
	position: relative;
	margin: 10px 0px;
	padding: 5px;
	min-height: 60px;
	transition: background;
	transition-duration: .5s;
	border-bottom: 1px solid #ccc;
}
.comments .comment .message{
	margin-top: -10px;
}
.comments .comment .user-data a.user-link{
	font-size: 20px;
	color: #000;
}
.comments .comment .user-data a.user-link:hover{
	text-decoration: none;
}
.comments .comment .user-data .message-date{
	float: right;
	font-size: 12px;
}
.comments .comment .user-data .message-date a{
	font-size: 13px;
	color: #ddd;
}
.comments .comment .user-data .message-date a:hover{
	color: #ccc;
}
.comments .comment .user-data img{
	margin-right: 5px;
	float: left;
	width: 50px;
	height: 50px;
}
.comments .comment .user-data .delete-btn,.comments .comment .user-data .edit-btn{
	position: absolute;
    right: 0px;
    top: -5px;
}
.comments .btn-view-comments:hover button{
	background: #ccc;
}
.full-width{
	width: 100%;
}
.tabs{
	margin-top: 10px;
}
.tabs .tab-slides{
	border: 1px solid #ddd;
	border-top: none;
}
.tabs .tab-slides .slide{
	padding: 10px;
}
.tabs .tab-slides > div{
	display: none;
}
.tabs .tab-slides > div.active{
	display: block;
}
.cols .left-col,.cols .right-col{
	position: relative; 		
}
.cols .left-col img{
	border-radius: 5px;
}
.cols .right-col .item-price span{
	color: #337ab7;
	font-size: 30px;
}
.cols .btn-buy button{
	width: 115px;
}
.cols{
	width: 100%;
	position: relative;
}
.option-line{
	width: 100%;
	border-bottom:2px solid #777;
}
.option-line .btn-add-item{
	font-size: 20px;
}
.option-line .icon-down,.option-line .btn-add-item{	
	float: right;
    width: 30px;
    height: 30px;
    text-align: center;   
}
.option-line .icon-down{
	cursor: pointer;
	border-radius: 50px;
    padding: 7px;
}
.option-line .icon-down:hover{
	transition-property: background,color;
	transition-duration: 1s;
	background: #000;
	color: #fff;
}
.option-line .option-block{
	display: none;
	width: 100%;
	padding: 5px;
}
.catalog-content{
	padding: 5px;
}
.catalog-content .catalog-items{

}
.catalog-content .sort-options{
	display: -webkit-box;
	border-bottom: 1px solid #eee;
}
.catalog-content .sort-options .option{
	padding-left: 10px;
}

.filters .filter,.filters .filter .filter-header,.filters .filter .filter-content,.catalog-content .sort-options{
	width: 100%;
}
.filters .filter{
	border: 1px solid #ccc;
	border-radius: 10px;	
    margin: 5px 0px;
    background: #f5f5f5;

}
.filters .filter .filter-content .conteiner-for-half-block {
	padding: 15px 0px;
	margin:	auto;
	text-align: center;
}
.filters .filter .filter-content .conteiner-for-half-block .half-num-block{
    display: inline-block;
	width: 30%;
}
.filters .filter .filter-header,.filters .filter .filter-content{
	padding: 5px;
}
.filters .filter .filter-header{
	border-bottom: 1px solid gray;
}
.material-switch > input[type="checkbox"] {
    display: none;   
}
.filter .filter-content .list-group .list-group-item{
	background-color: inherit; 
	border: none;
}
.filters .filter .material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.filters .filter .material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
table > thead > tr > th{
	cursor: pointer;
}
.filters .filter .material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.filters .filter .material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.filters .filter .material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.gallery_product .img-btn-buy button > span, .gallery_product .img-info button > span{
	font-size: 16px;
}

@media only screen and (min-width: 1024px){
.primary-menu,.search-bar,.search-select,.relative-carousel,.minicart-title .price,.minicart-header{
	display: block;
}

.minicart .btn-buy button{
    min-height: 120px;
}
.secondary-menu,.my-profile{
	display: -webkit-box;
}
.filters{
	width: 300px;
    padding-left: 30px;
}
.option-block .input-group input,.option-block .input-group input:focus,.option-block .input-group .input-group-btn select,.option-block .input-group .input-group-btn select:focus{
	z-index: 0;
}

.btn-menu-small,.minicart-mobile-header,.gallery_product .img-btn-buy{
	display: none;
}
.language-bar{
	padding: 0px 10px;
}
.option-item-btn{
	width: 100%;
	font-size: 20px;
	text-align: right;
	padding-right: 15px;
}
.cols{
	display: -webkit-box;
}
.cols .right-col .name{
	margin-top: -20px;
}
.cols .left-col{
	width: 30%;
}
.cols .right-col{
	width: 70%;
}
.gallery_product{
	margin: 0px;
}
.gallery_product .img-info{
	position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	overflow:hidden;
	color:#fff;
	top:0;
	display:none;
	   -webkit-transition: 2s;
    transition: 2s;
}
.gallery_product:hover .img-info{
	display:block;
   -webkit-transition: 2s;
    transition: 2s;
}
.minicart{
	width: 455px;	
    right: -340px;
    visibility: visible;
}
.mobile-menu{
	visibility: hidden;
}
.main-content{
	padding-top: 185px;
}
.page-header{
	width: calc(100% - 90px);
    min-height: 120px;
    background: #fff;
    padding-top: 40px;
    margin: 0px;
}
.minicart-content{
    height: calc(100% - 120px - 90px);
}
.company-logo{
    top: 40px;
}
.company-logo img{
	max-width: 100px;
	max-height: 100px;
}
.company-logo h3{
	padding-top: 50px;
}
.minicart{
	visibility: visible;
}
.page-wrapper{
	padding-left: 0px;
	padding-right: 120px;	
	}
}


@media (max-width: 1023px){
.primary-menu,.secondary-menu,.search-bar,.search-select,.my-profile,.company-logo h3,.relative-carousel,.minicart-title .price,.minicart-header,.gallery_product .img-info {
	display: none;
}
.minicart .btn-buy button{
	min-height:65px;
}
.filters{
	position: block;
	width: 100%;
    padding: 5px;
}
.option-item-btn{
	width: 75%;
	font-size: 20px;
	margin: auto;
}
.language-bar{
	padding: 10px 0px;
}
.option-item-btn button{
	width: 49%;
}
.cols{
	display: block;
}
.cols .right-col{
	text-align: center;
}
.cols .left-col{
	margin:auto;
	width: 75%;
}
.cols .right-col{
	width: 100%;
}
.gallery_product .img-btn-buy{
	position: relative;
}
.gallery_product{
    margin-bottom: 20px;
}
.gallery_product .img-btn-buy button{
	padding: 8px;
    width: 100%;
    min-height: 39px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    background: #ddd;
}
.minicart-mobile-header{
	direction: block;
}
.mobile-primary-menu .navbar-nav,.mobile-primary-menu .navbar-nav li{
	width: 100%;
	float: none;
}
.main-content{
	padding-top: 80px;
}
.minicart-content{
	height: calc(100% - 64px - 90px);
}
.minicart{
	width: 100%;
	right: -100%;
	visibility: hidden;
}
.btn-menu-small{	
    padding: 0px;
    margin-top: 20px;
    font-size: 25px;
    color: #000;
}
.left{
	float: left;
}
.right{
	float: right;
}
.page-header{
	width: 100%;
    min-height: 0px;
    background: #f3f3f3;
    margin: 0px;
}
.company-logo{
    top: 12%;
    left: 47%;
}
.company-logo img{
	max-width: 50px;
	max-height: 50px;
}
.page-wrapper{
	padding:5px;	
	}
}

.minicart-totals{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 90px;
    max-height: 90px;
    padding: 22px 36px 25px 158px;
    background: #ebf322;
}

.minicart-opened-title-total-price{
	float: left;
    width: 155px;
    padding: 45px 8px 45px;
    font-size: 20px;
    line-height: 1.4;
}
.price,.minicart-amount-check .check-item{
	font-family: cursive;
    font-size: 20px;
}
.price > .currency{
	font-size: 15px;	
    font-family: monospace;
}
.minicart .btn-buy{
	float: right;
}
.minicart .btn-buy button{
	padding: 8px;
    width: 150px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    background: #ddd;
    border:none;
}
.minicart-content-item{
	text-align: right;
	min-height: 110px;
	width: 100%;
	padding: 15px 5px 5px 5px;
	outline: 1px solid #ccc;	
}
.minicart-content-item .item-image{
	float: left;
	max-width: 100px;
	max-height: 100px;
}
.minicart-content-item .item-image img{
	max-width: 100px;
	max-height: 100px;
}

.minicart-content-item .item-name{
	text-overflow: ellipsis;
  	overflow: hidden;  
 	max-height: 105px;
	margin-left: 10px;
	float: left;
	text-align: left;
	max-width: 260px;
    word-wrap: break-word;
}
.minicart-content-item .item-name h3{
	margin-top: 5px;
	font-family: cursive;
}
.minicart-content-item .item-name p{
	padding: 0px 0px 0px 2px;
}
.minicart-content-item .item-remove{
    float: right;
}
.minicart-content-item .item-count-options,.curr-item-price{
	clear: both;
}
.minicart-content-item .curr-item-price{
    padding-right: 10px;
}
.minicart-content-item .item-count-options{
	display: inline-flex;
	float: left;
    margin-left: 40%;
}
.minicart-content-item .item-count-options .btn{
	padding: 0;
	margin: 0px 5px;
	font-size: 15px;
}
.minicart-content-item .item-count-options a,.item-remove a{
	color: gray;
}
.minicart-content-item .item-count{
	font-family: fantasy;
	margin: 0px 10px;
}
.minicart-totals-check{
	width: 50px;
    height: 50px;
    position: absolute;
    left: 35px;
}
.minicart-amount-check{
	padding: 15px;
}
.minicart-amount-check .price{
	float: right;
}
.minicart-title > .price{
	position: absolute;
    bottom: 10px;
    left: 30px;
    opacity: 1;
}

/* Carousel */

.carousel-cont{
	max-width: 90%;
	margin: auto;
}
.carousel{
	z-index: 0;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.relative-carousel{
	margin-bottom: 25px;
}
/* END OF CAROUSEL */

/*GALLERY*/
.gallery-title{
    font-size: 36px;
    color: #3F6184;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery_product:hover{
	box-shadow:0px 0px 5px black;
}
.gallery_product{	
    border: 1px solid #fff;    
	padding: 0px;
	position:relative;
	margin:1px;
    height: 300px;
    overflow: hidden;
    max-width: 290px;
}
.img-info .item-info{
	width: 100%;
}
.img-info .item-info p{
	text-overflow: ellipsis;
    overflow: hidden;
    max-height: 140px;
}
.img-info a{
	text-decoration: none;
	color: #fff;
}

/*END of gallery part */

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}
.omb_row-sm-offset-3 .checkbox{
	min-height: 20px;
	padding-left: 20px;
}
.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}

.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}
	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
		margin-top:10px;
 	}		
}
.omb_forgotPwd, .reg-form .omb_spanOr{
	cursor: pointer;
}
.radio-group{
	width: 100%;
}
.radio-group label{
	width: 50%;
}
.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}


